# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Serin
	email = 204978634+Serriinn@users.noreply.github.com
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
	credentialStore = gpg
	interactive = true
[credential "https://dev.azure.com"]
	useHttpPath = true
