/* __          __         _                   _____ _         _
 * \ \        / /        | |                 / ____| |       | |
 *  \ \  /\  / /_ _ _   _| |__   __ _ _ __  | (___ | |_ _   _| | ___
 *   \ \/  \/ / _` | | | | '_ \ / _` | '__|  \___ \| __| | | | |/ _ \
 *    \  /\  / (_| | |_| | |_) | (_| | |     ____) | |_| |_| | |  __/
 *     \/  \/ \__,_|\__, |_.__/ \__,_|_|    |_____/ \__|\__, |_|\___|
 *                   __/ |                               __/ |
 *   _____          |___/ _                             |___/
 *  / ____|           / _(_)
 * | |     ___  _ __ | |_ _  __ _
 * | |    / _ \| '_ \|  _| |/ _` |
 * | |___| (_) | | | | | | | (_| |
 *  \_____\___/|_| |_|_| |_|\__, |
 *                           __/ |
 *                          |___/
 * By: Serin */

/* Colors */

@import "../../.cache/wal/colors-waybar.css";

/* App Colors */

@define-color pastel-firefox-orange #ffa07a;
@define-color pastel-telegram-blue #66a2ff;

/* Font */

* {
    font-family:
        JetBrainsMono Nerd Font,
        Iosevka Nerd Font;
    font-size: 16px;
}

/* Background Bar Settings */

window#waybar {
    background-color: transparent;
}

/* Tool Tip settings */

tooltip {
    background: alpha(@background, 0.8);
    color: @foreground;
    text-shadow: none;
    border-radius: 8px;
    border-color: @color13;
}

tooltip * {
    color: @foreground;
    text-shadow: none;
}

#tray,
#pulseaudio,
#clock,
#workspaces,
#custom-power,
#app-title,
# {
    background-color: alpha(@background, 0.8);
    color: @foreground;
    padding: 0px 10px;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 12px;
    margin-bottom: 4px;
}

/* Modules Hover Settings */

#clock:hover,
#network:hover,
#custom-power:hover,
#pulseaudio:hover,
#bluetooth:hover,
#custom-notification:hover,
#custom-expand:hover {
    transition: all 0.2s ease;
    color: @color8;
}

/* Workspace Module */

#workspaces {
    border: none;
    font-weight: bold;
}

#workspaces button {
    color: @foreground;
    transition: all 0.2s ease;
}

#workspaces button:hover {
    border-color: transparent;
    color: @color8;
    transition: all 0.2s ease;
}

#workspaces button.active {
    color: @color10;
    transition: all 0.2s ease;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 8px;
}

/* App Title Settings */

#custom-app-title-icon {
    color: @foreground;
}

#custom-app-name {
    color: @foreground;
}

#custom-app-title-icon.Spotify {
    color: alpha(#77dd77, 0.75);
}

#custom-app-title-icon.Firefox {
    color: alpha(@pastel-firefox-orange, 0.75);
}

#custom-app-title-icon.Telegram {
    color: alpha(@pastel-telegram-blue, 0.75);
}

#custom-app-title-icon.Discord {
    color: alpha(#a7c7e7, 0.75);
}

/* Audio Module */

#pulseaudio {
    border-radius: 8px;
}

#pulseaudio.muted {
    border-radius: 8px;
    color: @color10;
}

/* Clock Module */

#clock {
    font-weight: bold;
}

/* Power Button Module */

#custom-power {
    color: @color10;
    margin-right: 8px;
    padding-right: 13px;
}
