/* __          __         _                   _____ _         _
 * \ \        / /        | |                 / ____| |       | |
 *  \ \  /\  / /_ _ _   _| |__   __ _ _ __  | (___ | |_ _   _| | ___
 *   \ \/  \/ / _` | | | | '_ \ / _` | '__|  \___ \| __| | | | |/ _ \
 *    \  /\  / (_| | |_| | |_) | (_| | |     ____) | |_| |_| | |  __/
 *     \/  \/ \__,_|\__, |_.__/ \__,_|_|    |_____/ \__|\__, |_|\___|
 *                   __/ |                               __/ |
 *   _____          |___/ _                             |___/
 *  / ____|           / _(_)
 * | |     ___  _ __ | |_ _  __ _
 * | |    / _ \| '_ \|  _| |/ _` |
 * | |___| (_) | | | | | | | (_| |
 *  \_____\___/|_| |_|_| |_|\__, |
 *                           __/ |
 *                          |___/
 * By: Serin */

/* Colors */

@import "../../.cache/wal/colors-waybar.css";

/* App Colors */

@define-color pastel-firefox-orange #ffa07a;
@define-color pastel-jetbrains-blue #87ceeb;
@define-color pastel-chrome-yellow #ffec8b;
@define-color pastel-telegram-blue #66a2ff;
@define-color pastel-chrome-blue #a6c0fe;
@define-color pastel-gitkraken-purple #a080e3;

/* Font */

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 15px;
}

/* Background Bar Settings */

window#waybar {
    background-color: alpha(@background, 0.3);
    border-radius: 10px;
}

#waybar .horizontal {
    padding-left: 5px;
    padding-right: 5px;
}

/* Tool Tip settings */

tooltip {
    background: alpha(@background, 0.6);
    color: @foreground;
    text-shadow: none;
    border-radius: 10px;
    border-color: @color13;
}

tooltip * {
    color: @foreground;
    text-shadow: none;
}

/* Modules Hover Settings */

#clock:hover,
#network:hover,
#custom-power:hover,
#pulseaudio:hover,
#bluetooth:hover,
#custom-notification:hover,
#custom-expand:hover {
    transition: all 0.3s ease;
    color: @color8;
}

/* Notification Module */

#custom-notification {
    margin-right: 7px;
    padding: 0 7px;
    padding-right: 10px;
    color: @foreground;
}

/* Workspace Module */

box#workspaces {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: alpha(@color7, 0.1);
    border-radius: 10px;
}

#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: alpha(@color9, 0.4);
    transition: all 0.2s ease;
}

#workspaces button:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 1s ease;
}

#workspaces button.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}

#workspaces button.empty:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

/* App Title Settings */

box#app-title {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: alpha(@color7, 0.1);
    border-radius: 10px;
}

/* Title Arrow */

#custom-arrow {
    margin-right: 2px;
    margin-left: 2px;
    font-size: 15px;
    color: @color4;
}

#custom-app-title-icon {
    color: @foreground;
}

#custom-app-title-icon.Spotify {
    color: alpha(#77dd77, 0.75);
}

#custom-app-title-icon.Firefox {
    color: alpha(@pastel-firefox-orange, 0.75);
}

#custom-app-title-icon.Telegram {
    color: alpha(@pastel-telegram-blue, 0.75);
}

#custom-app-title-icon.Discord {
    color: alpha(#a7c7e7, 0.75);
}

#custom-app-name {
    color: @foreground;
}
#app-title {
    padding: 0px;
}

/* Clock Module */

#clock {
    padding: 0 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: alpha(@color7, 0.1);
    color: @foreground;
    border-radius: 10px;
}

/* Expanding Tray  */

#group-expand {
    transition: all 0.3s ease;
}

#custom-expand {
    margin-right: 2px;
    margin-left: 2px;
    font-size: 15px;
    color: @color4;
    transition: all 0.3s ease;
}

#tray {
    color: @foreground;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: alpha(@color7, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
}

/* System Container Module */

box#system-container {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: alpha(@color7, 0.1);
    border-radius: 10px;
}

#pulseaudio,
#bluetooth,
#network {
    margin-left: 2px;
    margin-right: 2px;
}

/* Audio Module */

#pulseaudio {
    padding: 0 7px;
    color: @foreground;
}

#bluetooth {
    padding: 0 7px;
    color: @foreground;
}

/* Network Module */

#network {
    padding: 0 7px;
    color: @foreground;
}

/* Power Button Module */

#custom-power {
    margin-left: 2px;
    padding: 0 7px;
    padding-left: 10px;
    color: #ff746c;
}
