/* __          __         _                   _____ _         _
 * \ \        / /        | |                 / ____| |       | |
 *  \ \  /\  / /_ _ _   _| |__   __ _ _ __  | (___ | |_ _   _| | ___
 *   \ \/  \/ / _` | | | | '_ \ / _` | '__|  \___ \| __| | | | |/ _ \
 *    \  /\  / (_| | |_| | |_) | (_| | |     ____) | |_| |_| | |  __/
 *     \/  \/ \__,_|\__, |_.__/ \__,_|_|    |_____/ \__|\__, |_|\___|
 *                   __/ |                               __/ |
 *   _____          |___/ _                             |___/
 *  / ____|           / _(_)
 * | |     ___  _ __ | |_ _  __ _
 * | |    / _ \| '_ \|  _| |/ _` |
 * | |___| (_) | | | | | | | (_| |
 *  \_____\___/|_| |_|_| |_|\__, |
 *                           __/ |
 *                          |___/
 * By Serin */

/* Colors */

@import "../../.cache/wal/colors-waybar.css";

/* App Colors */

@define-color pastel-firefox-orange #ffa07a;
@define-color pastel-jetbrains-blue #87ceeb;
@define-color pastel-chrome-yellow #ffec8b;
@define-color pastel-telegram-blue #66a2ff;
@define-color pastel-chrome-blue #a6c0fe;
@define-color pastel-gitkraken-purple #A080E3;

/* Font */

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
}

/* Background Bar Settings */

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background: #313333;
    color: @color7;
}

/* Module Container Settings */

.modules-left {
    padding: 5px 10px 5px 10px;
    margin: 10px 0px 5px 10px;
    background-color: #313333;
    border-radius: 10px;
    padding-right: 10px;
}

.modules-center {
    padding: 5px 10px 5px 10px;
    margin: 10px 0px 5px 0px;
    background-color: #313333;
    border-radius: 10px;
}

.modules-right {
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 5px 10px;
    background-color: #313333;
    border-radius: 10px;
}

/* Modules */

#clock:hover,
#network:hover,
#custom-power:hover,
#pulseaudio:hover,
#bluetooth:hover

/* Module Settings */ {
    transition: all 0.3s ease;
    color: @color9;
}

/* Workspace Module */

#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: alpha(@color9, 0.4);
    transition: all 0.2s ease;
}
#workspaces button:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
#workspaces button.empty {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}
#workspaces button.empty:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

/* App Title Settings */

#custom-arrow-icon {
    color: @color1;
    padding: 0px 5px;
}

#custom-app-title-icon {
    color: @color7;
}

#custom-app-title-icon.Spotify {
    color: alpha(#77dd77, 0.75);
}

#custom-app-title-icon.Firefox {
    color: alpha(@pastel-firefox-orange, 0.75);
}

#custom-app-title-icon.Telegram {
    color: alpha(@pastel-telegram-blue, 0.75);
}

#custom-app-title-icon.Discord {
    color: alpha(#a7c7e7, 0.75);
}

#custom-app-name {
    padding-right: 5px;
    color: @color7;
}

/* Clock Module */

#clock {
    padding: 0px 5px;
    color: @color7;
}

/* Expanding Tray  */

#group-expand {
    padding: 0px 5px;
    transition: all 0.3s ease;
}

#custom-expand {
    padding: 0px 5px;
    color: @color7;
    transition: all 0.3s ease;
}

#custom-expand:hover {
    color: rgba(255, 255, 255, 0.2);
}

#tray {
    padding: 0px 5px;
    transition: all 0.3s ease;
}

#bluetooth {
    padding: 0px 5px;
    transition: all 0.3s ease;
    color: @color7;
}

#custom-endpoint {
    padding: 0px 5px;
    color: @color7;
}

/* Audio Module */

#pulseaudio {
    color: @color7;
}

#pulseaudio.muted {
}

/* Network Module */

#network {
    padding: 0px 5px;
    color: @color7;
}

#network.disconnected {
}

/* Power Button Module */

#custom-power {
    padding-right: 5px;
    color: #ff746c;
}
